.page {
    display: flex;
    border: 1px solid;
    min-height: 100vh;
}

.page aside {
    background: lightgreen;
    flex: 1;
    font-size: 40px;
}

.page main {
    background: lightblue;
    flex: 2;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.page main section:nth-child(1) {
    background: lightcoral;   
    flex: 2;
}

.page main section:nth-child(2) {
    background: lightgray;  
    flex: 0 200px;
}

.page main section:nth-child(3) {
    background: lightpink; 
    flex: 1;  
}