body {
    background-color: lightblue;
}
/* Efeito cascata. Último é predominante */
body {
    background-color: lightgray;

    margin: 0px;
}

header {
    background-color: gray;

    position: sticky;
    top: 0;
    z-index: 9999;

    height: 8vh;

    font-size: 3rem;
    padding: 0 10px 0 10px;
}

main {
    padding: 10px;
}

img {
    width: 350px;
    height: 250px;
}